<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/log-in.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Inicio de sesion - Sol de mayo</title>
</head>

<body>
    <div class="login-container">
        <form class="login-form" action="">
            <div class="login-logo"></div>
            <h1 class="login-form__title">¡Bienvenido!</h1>
            <h3 class="login-form__subtitle">Inciá sesión para ingresar</h3>

            <div class="login-form__group">
                <label for="user" class="login-form__label">DNI</label>
                <div class="login-form__input-wrapper">
                    <img class="login-form__icon" src="../imgs/Profile 1.svg" alt="user-logo">
                    <input id="user" type="number" class="login-form__input" placeholder="11222333">
                </div>
            </div>

            <div class="login-form__group">
                <label for="password" class="login-form__label">Contraseña</label>
                <div class="login-form__input-wrapper">
                    <img class="login-form__icon" src="../imgs/lock.svg" alt="password-logo">
                    <input id="password" type="password" class="login-form__input" placeholder="******">
                    <button id="view-password" class="view-password"></button>
                </div>
            </div>

            <a class="login-form__forgot-pass" href="">
                ¿Olvidaste tu contraseña?
            </a>

            <div class="login-form__group">
                <button class="login-form__submit" type="submit">Inciar sesión</button>
            </div>
        </form>
    </div>
</body>

</html>