<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'Primer inicio de sesión' , cssFile: 'login.css' , jsFile: 'first-password.js' , excludeBaseJs: true }) %>

    <body>
        <div class="login-container">
            <form id="form-first-password" class="login-form" action="">
                <div class="login-logo"></div>
                <h1 class="login-form__title" style="text-align: center; font-size: 1.5rem;">Seguridad</h1>
                <h3 class="login-form__subtitle" style="text-align: center;">Por favor, actualizá tu contraseña inicial
                    para continuar.</h3>

                <div class="login-form__group">
                    <label for="new-password" class="login-form__label">Nueva Contraseña</label>
                    <div class="login-form__input-wrapper">
                        <img class="login-form__icon" src="/imgs/lock.svg" alt="password-logo">
                        <input id="new-password" name="password" type="password" class="login-form__input"
                            placeholder="Mínimo 6 caracteres" required>
                        <button type="button" class="view-password"></button>
                    </div>
                </div>

                <div class="login-form__group">
                    <label for="confirm-password" class="login-form__label">Confirmar Contraseña</label>
                    <div class="login-form__input-wrapper">
                        <img class="login-form__icon" src="/imgs/lock.svg" alt="password-logo">
                        <input id="confirm-password" name="confirm_password" type="password" class="login-form__input"
                            placeholder="Repetir contraseña" required>
                        <button type="button" class="view-password"></button>
                    </div>
                </div>

                <span id="pass-error"
                    style="color: #ef4444; font-size: 0.8rem; display: none; margin-top: -10px; margin-left: 10px; align-self: flex-start;">Las
                    contraseñas no coinciden.</span>

                <div class="login-form__group">
                    <button class="login-form__submit" type="submit">Actualizar e Ingresar</button>
                </div>
            </form>
        </div>
    </body>

</html>
